<% include head %>
<h1>TLDR</h1>
<p>example from Node in Action, Manning Publications 2016</p>
<ul>
  <% articles.forEach(function(article) { %>
    <li>
      <a href="/articles/<%= article.id %>">
        <%= article.title %>
      </a>
    </li>
  <% }) %>
</ul>
<% include footer %>
